<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="static/bootstrap.css" th:href="@{/bootstrap.css}"/>
    <title>Raamatud</title>
    <style>
        * {
            margin: 0;
            padding:  0;
        }
        #map {
            height: 250px;
            width: 25%;
        }
    </style>>
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <table>
                    <tr>
                        <th><a class="navbar-brand" href="#">Raamatud</a></th>
                        <th>
                            <div class="input-group">
                                <input type="firstName" class="form-control" id="firstName" name="firstName" placeholder="Kasutajanimi" required>
                                <div class="invalid-feedback" style="width: 100%;">
                                    Kasutajanimi
                                </div>
                            </div></th>
                        <th>
                            <div class="input-group">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Parool" required>
                                <div class="invalid-feedback" style="width: 100%;">
                                    Parool
                                </div>
                            </div></th>
                        <th><button class="btn btn-primary btn-lg btn-block" type="submit" style="margin-right: 10px">
                    Logi sisse</button></th>
                        <th><button class="btn btn-primary btn-lg btn-block" type="submit" style="margin-right: 10px"
                                    onclick="location.href='registreerimine'">
                            Registreeru</button></th>
                    </tr>
                </table>
            </div>
        </div>
    </nav>
</header>
<hr class="mb-4">
<div id="map"></div>
<script>
    function initMap() {
        var location = {lat:58.378249, lng: 26.714673};
        var map = new google.maps.Map(document.getElementById("map"),{
            zoom: 16,
            center: location
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=
AIzaSyCUVNAYoHiqb7S8XYV9Q2WsvkJ4TNAfDhA&callback=initMap">

</script>
</body>
</html>