<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="static/bootstrap.css" th:href="@{/bootstrap.css}"/>
    <title>Kasutaja loomine</title>
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <table>
                    <tr>
                        <th><a class="navbar-brand" href="#">Kasutaja loomine</a></th>
                        <th><button class="btn btn-primary btn-lg btn-block" type="submit" style="margin-right: 10px"
                                    onclick="location.href='raamat'">
                            Avaleht</button></th>
                    </tr>
                </table>
            </div>
        </div>
    </nav>
</header>
<hr class="mb-4">
<table>
    <th>
        <tr><td><a class="navbar-brand" href="#">Loo uus konto</a></td></tr>
        <tr><td>
            <div class="input-group">
                <input type="email" class="form-control" id="firstName" name="firstName" placeholder="Eesnimi" required>
                <div class="invalid-feedback">
                    Eesnimi
                </div>
            </div></td></tr>
        <tr> <td>
            <div class="input-group">
                <input type="email" class="form-control" id="lastName" name="lastName" placeholder="Perekonnanimi" required>
                <div class="invalid-feedback">
                    Perekonnanimi
                </div>
            </div></td></tr>
        <tr><td>
            <div class="input-group">
                <input type="email" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Telefoninumber" required>
                <div class="invalid-feedback">
                    Telefoninumber
                </div>
            </div></td></tr>
        <tr><td>
            <div class="input-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Meiliaadress" required>
                <div class="invalid-feedback">
                    Meiliaadress
                </div>
            </div></td></tr>
        <tr><td>
            <div class="input-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Parool" required>
                <div class="invalid-feedback">
                    password
                </div>
            </div></td></tr>
        <tr><td>
            <div class="input-group">
                <input type="password" class="form-control" id="password1" name="password" placeholder="korda parool" required>
                <div class="invalid-feedback">
                    korda parool
                </div>
            </div></td></tr>
        <tr><th><button class="btn btn-primary btn-lg btn-block" type="submit" style="margin-right: 10px">
        Loo Konto</button></th></tr>
    </th>
</table>
<div class="row">
    <div class="col-md-12">
        <h4 class="mb3">Subscribed users</h4>
        <ul class="list-group">
            <!--/*@thymesVar id="users" type=""*/-->
            <li class="list-group-item" th:each="user : ${users}" th:text="${user.firstName + ' ' + user.lastName}"></li>
        </ul>
    </div>
</div>
<script type="javascript" src="js/jquery/jquery-3.2.1.slim.min.js"></script>
<script type="javascript" src="js/popper/popper.min.js"></script>
<script type="javascript" src="js/bootstrap/bootstrap.min.js"></script>


</body>
</html>