<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="static/bootstrap.css" th:href="@{/bootstrap.css}"/>
    <title>olemas</title>
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Toimib</a>
            </div>
        </div>
    </nav>
</header>
</body>
</html>